{% extends "base.html" %}
{% block title %}About Us — ZovoAssets{% endblock %}
{% block auth_content %}
<div style="max-width: 700px; margin: 120px auto; padding: 40px 20px; color: #e2eaf6;">
    <h1 style="font-size: 2rem; margin-bottom: 20px;">About ZovoAssets</h1>
    <p style="color: #5a7090; line-height: 1.7; margin-bottom: 20px;">
        ZovoAssets is a fintech investment platform built to help people invest and trade in a risk-free environment. Our platform lets you explore fixed-return plans and live market  without risking capital
    <p style="color: #5a7090; line-height: 1.7;">
        We are global
</div>
{% endblock %}